@media (min-width:320px) and (max-width:768px)
    .classement
        order: -1
    .spatial
        &_menu
            justify-content: center !important
            &_logo
                display: none
            &_liste
                padding:  0px !important
                &_ind
                    margin: 0px 10px !important
                    font-size: 0.6em !important
        &_central
            &_txt
                font-size: 1em !important
                width: 90% !important
    .luctus
        &_grille
            grid-template-columns: 1fr !important
            text-align: center
            width: 90% !important
            &_titre,&_txt
                width: 100% !important
                font-size: 2em !important
    .fusce
        &_card
            width: 100% !important
            flex-direction: column
            padding-bottom: 80px
            align-items: center
            &_ind
                width: 95% !important
                margin: 0px 0px !important
                &_indication
                    font-size: 1em !important
        &_title
            text-align: center
            font-size: 2em !important
        &_txt
            text-align: center
            font-size: 1.3em !important
        &_btn_red,&_btn_black
            margin: 5px 0px !important
            width: 100% !important
    .mauris
        &_total
            width: 90% !important
            padding: 50px 0px 0px 0px !important
            &_title
                font-size: 1.3em !important
                text-align: center
            &_txt
                text-align: center
                font-size: 1em !important
        &_grille
            grid-template-columns: 1fr !important
            &_card,&_cardd
                flex-direction: column
                text-align: center !important
                justify-content: center
                align-items: center
                &_txt
                    width: 100% !important
    .aenean
        &_btn
            padding: 0px !important
            width: 100px !important
            height: 40px !important
            font-size: 0.8em !important
        &_title
            font-size: 1.3em !important
            text-align: center
        &_txt
            font-size: 1em !important
            text-align: center
    .pied
        &_fa
            flex-direction: column
        &_sign
            flex-direction: column
@media (min-width:768px) and (max-width:1024px)
    .luctus
        &_grille
            grid-template-columns: 1fr !important
            text-align: center
            width: 90% !important
            &_titre,&_txt
                width: 100% !important
    .fusce
        &_card
            width: 100% !important
            flex-direction: column
            height: 100% !important
            padding-bottom: 80px
            align-items: center
    .mauris
        &_total
            width: 100% !important
        &_grille
            grid-template-columns: 1fr !important